$select-switch-font-size: 14px !default;
$select-switch-color-border: gray !default;
$select-switch-color-active: orange !default;
$select-switch-color-font-active: white !default;
$select-switch-border-radius: 5px !default;

select-switch {
	.switch-wrapper {
		display: flex;
		flex-wrap: nowrap;
		height: 36px;

		.input__short & {
			margin-bottom: 0;
		}
	}

	.switch-wrapper__button {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		width: 50%;
		transition: all 0.3s;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		font-weight: 600;
		font-size: $select-switch-font-size;
		border: 1px solid $select-switch-color-border;

		&:first-child {
			border-radius: $select-switch-border-radius 0 0 $select-switch-border-radius;
			border-right: none;
		}

		&:last-child {
			border-radius: 0 $select-switch-border-radius $select-switch-border-radius 0;
			border-left: none;
		}

		&:first-child + :last-child {
			border-left: 1px solid $select-switch-color-border;
		}
	}

	.switch-wrapper__button--active {
		font-weight: 800;
		background: $select-switch-color-active;
		border: 1px solid $select-switch-color-active;
		color: $select-switch-color-font-active;
	}
}
