$select-switch-font-size: 14px !default;
$select-switch-color-border: gray !default;
$select-switch-color-active: orange !default;
$select-switch-color-font-active: white !default;

select-switch {
	.switch-wrapper {
		display: flex;
		flex-wrap: nowrap;
		height: 40px;
		margin-bottom: 20px;

		.switch-button {
			position: relative;
			display: inline-block;
			width: 50%;
			height: 100%;
			padding: 0 20px;
			line-height: 38px;
			text-align: center;
			transition: all 0.3s;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			margin-bottom: 20px;
			font-weight: 600;
			font-size: $select-switch-font-size;

			&:first-child() {
				border-radius: 5px 0 0 5px;
				border-right: none !important;
			}

			&:last-child() {
				border-radius: 0 5px 5px 0;
				border-left: none !important;
			}

			&:first-child() + :last-child() {
				border-left: 1px solid $select-switch-color-border !important;
			}

			&.active {
				font-weight: 800;
				background: $select-switch-color-active;
				border: 1px solid $select-switch-color-active;
				color: $select-switch-color-font-active;
			}

			&:not(.active) {
				border: 1px solid $select-switch-color-border;
			}
		}
		.input__short & {
			margin-bottom: 0;
		}
	}
}
