<div class="password-viewer">
	<ion-input class="password-viewer__input password-viewer__input--password" *ngIf="!_valueVisible" type="password" [(ngModel)]="_value" (ngModelChange)="value = _value"></ion-input>
	<ion-input class="password-viewer__input" *ngIf="_valueVisible" type="text" [(ngModel)]="_value" (ngModelChange)="value = _value"></ion-input>
	<div class="password-viewer__toggle" (click)="toggleView(undefined, $event)">
		<ion-icon *ngIf="!_valueVisible" name="{{icon_visible || 'eye'}}"></ion-icon>
		<ion-icon *ngIf="_valueVisible" name="{{icon_invisible || 'eye-off'}}"></ion-icon>
	</div>
</div>
