$password-viewer-color-background: white !default;
$password-viewer-border: 1px solid gray !default;
$password-viewer-border-radius: 5px !default;

$password-viewer-toggle-color-background: #ddd !default;
$password-viewer-toggle-border: 1px solid gray !default;
$password-viewer-toggle-padding: 10px !default;
$password-viewer-toggle-icon-size: 20px !default;

password-viewer {
	.password-viewer {
		position: relative;
		width: 100%;
		height: 100%;
		border: $password-viewer-border;
		border-radius: $password-viewer-border-radius;
		background: $password-viewer-color-background;
		overflow: hidden;
	}

	.password-viewer__input {
		width: 100%;
		height: 100%;
		z-index: 0;
		background: transparent;
		padding-right: calc((#{$password-viewer-toggle-padding} * 2) + #{$password-viewer-toggle-icon-size});
	}

	.password-viewer__toggle {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		top: 0;
		bottom: 0;
		right: 0;
		width: auto;
		padding: 0 $password-viewer-toggle-padding;
		border-left: $password-viewer-toggle-border;
		z-index: 1;
		background: $password-viewer-toggle-color-background;

		ion-icon {
			font-size: $password-viewer-toggle-icon-size;
		}
	}
}
