page-home {
    ion-header {

    }

    ion-content {
        .scroll-content {
            overflow: hidden;

            .content-wrapper {
                width: 100%;
                height: 100%;
                padding: 20px;
                overflow-y: auto;
            }
        }
    }
}
