$form-error-color-background: $color-error !default;
$form-error-color-text: $color-background !default;

form-error-message {
	div {
		position: relative;
		display: inline-block;
		margin-top: 10px;
		padding: 5px 10px;
		border-radius: 3px;
		background: $form-error-color-background;
		color: $form-error-color-text;
	}

	div:after {
		position: absolute;
		bottom: 100%;
		left: 20px;
		margin-left: -10px;
		width: 0;
		height: 0;
		border: solid transparent;
		border-width: 10px;
		border-color: color-opacity($form-error-color-background, 0);
		border-bottom-color: $form-error-color-background;
		content: '';
		pointer-events: none;
	}
}
