@font-face {
	font-family: 'OpenSans-Bold';
	src: url($font-path+'/open-sans/OpenSans-Bold.ttf');
}

@font-face {
	font-family: 'OpenSans-BoldItalic';
	src: url($font-path+'/open-sans/OpenSans-BoldItalic.ttf');
}

@font-face {
	font-family: 'OpenSans-ExtraBold';
	src: url($font-path+'/open-sans/OpenSans-ExtraBold.ttf');
}

@font-face {
	font-family: 'OpenSans-ExtraBoldItalic';
	src: url($font-path+'/open-sans/OpenSans-ExtraBoldItalic.ttf');
}

@font-face {
	font-family: 'OpenSans-Italic';
	src: url($font-path+'/open-sans/OpenSans-Italic.ttf');
}

@font-face {
	font-family: 'OpenSans-Light';
	src: url($font-path+'/open-sans/OpenSans-Light.ttf');
}

@font-face {
	font-family: 'OpenSans-LightItalic';
	src: url($font-path+'/open-sans/OpenSans-LightItalic.ttf');
}

@font-face {
	font-family: 'OpenSans-Regular';
	src: url($font-path+'/open-sans/OpenSans-Regular.ttf');
}

@font-face {
	font-family: 'OpenSans-SemiBold';
	src: url($font-path+'/open-sans/OpenSans-Semibold.ttf');
}

@font-face {
	font-family: 'OpenSans-SemiBoldItalic';
	src: url($font-path+'/open-sans/OpenSans-SemiboldItalic.ttf');
}
