@font-face {
	font-family: 'Tisa-Bold';
	src: url($font-path+'/tisa/TisaBold.ttf');
}

@font-face {
	font-family: 'Tisa-BoldItalic';
	src: url($font-path+'/tisa/TisaBoldItalic.ttf');
}

@font-face {
	font-family: 'Tisa-Light';
	src: url($font-path+'/tisa/TisaLight.ttf');
}

@font-face {
	font-family: 'Tisa-LightItalic';
	src: url($font-path+'/tisa/TisaLightItalic.ttf');
}

@font-face {
	font-family: 'Tisa-Medium';
	src: url($font-path+'/tisa/TisaMedium.ttf');
}

@font-face {
	font-family: 'Tisa-MediumItalic';
	src: url($font-path+'/tisa/TisaMediumItalic.ttf');
}

@font-face {
	font-family: 'Tisa-Normal';
	src: url($font-path+'/tisa/TisaNormal.ttf');
}

@font-face {
	font-family: 'Tisa-NormalItalic';
	src: url($font-path+'/tisa/TisaNormalItalic.ttf');
}

@font-face {
	font-family: 'Tisa-Thin';
	src: url($font-path+'/tisa/TisaThin.ttf');
}

@font-face {
	font-family: 'Tisa-ThinItalic';
	src: url($font-path+'/tisa/TisaThinItalic.ttf');
}
