@font-face {
	font-family: 'Linearicons';
	src: url($font-path+'/linear-icons/Linearicons.ttf');
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}

ion-icon[class*="lnr-"] {
	font-family: "Linearicons" !important;
	font-size: 20px;

	&[class*="exclamation"]:before { content: "\e021"; }
	&[class*="quotes-double"]:before { content: "\e022"; }
	&[class*="hashtag"]:before { content: "\e023"; }
	&[class*="dollar"]:before { content: "\e024"; }
	&[class*="percent"]:before { content: "\e025"; }
	&[class*="ampersand"]:before { content: "\e026"; }
	&[class*="quote-single"]:before { content: "\e027"; }
	&[class*="parentheses-open"]:before { content: "\e028"; }
	&[class*="parentheses-close"]:before { content: "\e029"; }
	&[class*="asterisk"]:before { content: "\e02a"; }
	&[class*="plus"]:before { content: "\e02b"; }
	&[class*="comma"]:before { content: "\e02c"; }
	&[class*="dash"]:before { content: "\e02d"; }
	&[class*="stop"]:before { content: "\e02e"; }
	&[class*="slash"]:before { content: "\e02f"; }
	&[class*="0"]:before { content: "\e030"; }
	&[class*="1"]:before { content: "\e031"; }
	&[class*="2"]:before { content: "\e032"; }
	&[class*="3"]:before { content: "\e033"; }
	&[class*="4"]:before { content: "\e034"; }
	&[class*="5"]:before { content: "\e035"; }
	&[class*="6"]:before { content: "\e036"; }
	&[class*="7"]:before { content: "\e037"; }
	&[class*="8"]:before { content: "\e038"; }
	&[class*="9"]:before { content: "\e039"; }
	&[class*="colon"]:before { content: "\e03a"; }
	&[class*="semicolon"]:before { content: "\e03b"; }
	&[class*="less-than"]:before { content: "\e03c"; }
	&[class*="equal"]:before { content: "\e03d"; }
	&[class*="greater-than"]:before { content: "\e03e"; }
	&[class*="questionmark"]:before { content: "\e03f"; }
	&[class*="at"]:before { content: "\e040"; }
	&[class*="A"]:before { content: "\e041"; }
	&[class*="B"]:before { content: "\e042"; }
	&[class*="C"]:before { content: "\e043"; }
	&[class*="D"]:before { content: "\e044"; }
	&[class*="E"]:before { content: "\e045"; }
	&[class*="F"]:before { content: "\e046"; }
	&[class*="G"]:before { content: "\e047"; }
	&[class*="H"]:before { content: "\e048"; }
	&[class*="I"]:before { content: "\e049"; }
	&[class*="J"]:before { content: "\e04a"; }
	&[class*="K"]:before { content: "\e04b"; }
	&[class*="L"]:before { content: "\e04c"; }
	&[class*="M"]:before { content: "\e04d"; }
	&[class*="N"]:before { content: "\e04e"; }
	&[class*="O"]:before { content: "\e04f"; }
	&[class*="P"]:before { content: "\e050"; }
	&[class*="Q"]:before { content: "\e051"; }
	&[class*="R"]:before { content: "\e052"; }
	&[class*="S"]:before { content: "\e053"; }
	&[class*="T"]:before { content: "\e054"; }
	&[class*="U"]:before { content: "\e055"; }
	&[class*="V"]:before { content: "\e056"; }
	&[class*="W"]:before { content: "\e057"; }
	&[class*="X"]:before { content: "\e058"; }
	&[class*="Y"]:before { content: "\e059"; }
	&[class*="Z"]:before { content: "\e05a"; }
	&[class*="square-bracket-open"]:before { content: "\e05b"; }
	&[class*="backslash"]:before { content: "\e05c"; }
	&[class*="square-bracket-close"]:before { content: "\e05d"; }
	&[class*="circumflex"]:before { content: "\e05e"; }
	&[class*="underscore"]:before { content: "\e05f"; }
	&[class*="accent-grave"]:before { content: "\e060"; }
	&[class*="a"]:before { content: "\e061"; }
	&[class*="b"]:before { content: "\e062"; }
	&[class*="c"]:before { content: "\e063"; }
	&[class*="d"]:before { content: "\e064"; }
	&[class*="e"]:before { content: "\e065"; }
	&[class*="f"]:before { content: "\e066"; }
	&[class*="g"]:before { content: "\e067"; }
	&[class*="h"]:before { content: "\e068"; }
	&[class*="i"]:before { content: "\e069"; }
	&[class*="j"]:before { content: "\e06a"; }
	&[class*="k"]:before { content: "\e06b"; }
	&[class*="l"]:before { content: "\e06c"; }
	&[class*="m"]:before { content: "\e06d"; }
	&[class*="n"]:before { content: "\e06e"; }
	&[class*="o"]:before { content: "\e06f"; }
	&[class*="p"]:before { content: "\e070"; }
	&[class*="q"]:before { content: "\e071"; }
	&[class*="r"]:before { content: "\e072"; }
	&[class*="s"]:before { content: "\e073"; }
	&[class*="t"]:before { content: "\e074"; }
	&[class*="u"]:before { content: "\e075"; }
	&[class*="v"]:before { content: "\e076"; }
	&[class*="w"]:before { content: "\e077"; }
	&[class*="x"]:before { content: "\e078"; }
	&[class*="y"]:before { content: "\e079"; }
	&[class*="z"]:before { content: "\e07a"; }
	&[class*="bracket-open"]:before { content: "\e07b"; }
	&[class*="pipe"]:before { content: "\e07c"; }
	&[class*="bracket-close"]:before { content: "\e07d"; }
	&[class*="tilde"]:before { content: "\e07e"; }
	&[class*="copyright"]:before { content: "\e0a9"; }
	&[class*="house-detail"]:before { content: "\e600"; }
	&[class*="house"]:before { content: "\e601"; }
	&[class*="house-door"]:before { content: "\e602"; }
	&[class*="house-door-chimney"]:before { content: "\e603"; }
	&[class*="house-chimney"]:before { content: "\e604"; }
	&[class*="house-detail-door"]:before { content: "\e605"; }
	&[class*="shower"]:before { content: "\e606"; }
	&[class*="toothbrush"]:before { content: "\e607"; }
	&[class*="bed"]:before { content: "\e608"; }
	&[class*="sofa"]:before { content: "\e609"; }
	&[class*="chair"]:before { content: "\e60a"; }
	&[class*="skyline"]:before { content: "\e60b"; }
	&[class*="flat-appartments"]:before { content: "\e60c"; }
	&[class*="pencil-gum"]:before { content: "\e60d"; }
	&[class*="pencil"]:before { content: "\e60e"; }
	&[class*="pen"]:before { content: "\e60f"; }
	&[class*="pencil-3d"]:before { content: "\e610"; }
	&[class*="gum"]:before { content: "\e611"; }
	&[class*="square-pencil"]:before { content: "\e612"; }
	&[class*="square-pencil-gum"]:before { content: "\e613"; }
	&[class*="quil-outline"]:before { content: "\e614"; }
	&[class*="quil"]:before { content: "\e615"; }
	&[class*="quil-ink"]:before { content: "\e616"; }
	&[class*="pen-fountain"]:before { content: "\e617"; }
	&[class*="pen-fountain-add"]:before { content: "\e618"; }
	&[class*="pen-fountain-remove"]:before { content: "\e619"; }
	&[class*="bezier"]:before { content: "\e61a"; }
	&[class*="pen-fountain-detail"]:before { content: "\e61b"; }
	&[class*="pen-fountain-wireless"]:before { content: "\e61c"; }
	&[class*="paint-brush"]:before { content: "\e61d"; }
	&[class*="brush"]:before { content: "\e61e"; }
	&[class*="spray"]:before { content: "\e61f"; }
	&[class*="paint-roll"]:before { content: "\e620"; }
	&[class*="stamp"]:before { content: "\e621"; }
	&[class*="tape-roll"]:before { content: "\e622"; }
	&[class*="tape"]:before { content: "\e623"; }
	&[class*="fill-colors"]:before { content: "\e624"; }
	&[class*="color-picker"]:before { content: "\e625"; }
	&[class*="palet"]:before { content: "\e626"; }
	&[class*="color-cards"]:before { content: "\e627"; }
	&[class*="bucket"]:before { content: "\e628"; }
	&[class*="gradient"]:before { content: "\e629"; }
	&[class*="gradient-lines"]:before { content: "\e62a"; }
	&[class*="wand"]:before { content: "\e62b"; }
	&[class*="magnet"]:before { content: "\e62c"; }
	&[class*="draw-triangle-ruler"]:before { content: "\e62d"; }
	&[class*="draw-ruler"]:before { content: "\e62e"; }
	&[class*="draw-circle"]:before { content: "\e62f"; }
	&[class*="crosshair"]:before { content: "\e630"; }
	&[class*="pistol"]:before { content: "\e631"; }
	&[class*="bottle"]:before { content: "\e632"; }
	&[class*="drop"]:before { content: "\e633"; }
	&[class*="drop-none"]:before { content: "\e634"; }
	&[class*="drop-detail"]:before { content: "\e635"; }
	&[class*="snowflake"]:before { content: "\e636"; }
	&[class*="snowflake-detail"]:before { content: "\e637"; }
	&[class*="flame"]:before { content: "\e638"; }
	&[class*="lighter"]:before { content: "\e639"; }
	&[class*="pocket-knife"]:before { content: "\e63a"; }
	&[class*="sword"]:before { content: "\e63b"; }
	&[class*="tissue"]:before { content: "\e63c"; }
	&[class*="toilet-paper"]:before { content: "\e63d"; }
	&[class*="poop"]:before { content: "\e63e"; }
	&[class*="umbrela"]:before { content: "\e63f"; }
	&[class*="umbrela-rain"]:before { content: "\e640"; }
	&[class*="drops"]:before { content: "\e641"; }
	&[class*="tornado"]:before { content: "\e642"; }
	&[class*="wind"]:before { content: "\e643"; }
	&[class*="fan"]:before { content: "\e644"; }
	&[class*="circle-half"]:before { content: "\e645"; }
	&[class*="brightness-low"]:before { content: "\e646"; }
	&[class*="brightness-high"]:before { content: "\e647"; }
	&[class*="brightness-auto"]:before { content: "\e648"; }
	&[class*="moon"]:before { content: "\e649"; }
	&[class*="cloud"]:before { content: "\e64a"; }
	&[class*="cloud-up"]:before { content: "\e64b"; }
	&[class*="cloud-down"]:before { content: "\e64c"; }
	&[class*="cloud-rain"]:before { content: "\e64d"; }
	&[class*="cloud-hail"]:before { content: "\e64e"; }
	&[class*="cloud-snow"]:before { content: "\e64f"; }
	&[class*="cloud-wind"]:before { content: "\e650"; }
	&[class*="sun-wind"]:before { content: "\e651"; }
	&[class*="clouds"]:before { content: "\e652"; }
	&[class*="cloud-sun"]:before { content: "\e653"; }
	&[class*="cloud-lightning"]:before { content: "\e654"; }
	&[class*="cloud-refresh"]:before { content: "\e655"; }
	&[class*="cloud-locked"]:before { content: "\e656"; }
	&[class*="cloud-edit"]:before { content: "\e657"; }
	&[class*="cloud-warning"]:before { content: "\e658"; }
	&[class*="cloud-ok"]:before { content: "\e659"; }
	&[class*="cloud-error"]:before { content: "\e65a"; }
	&[class*="cloud-off"]:before { content: "\e65b"; }
	&[class*="cloud-stack"]:before { content: "\e65c"; }
	&[class*="database"]:before { content: "\e65d"; }
	&[class*="database-add"]:before { content: "\e65e"; }
	&[class*="database-remove"]:before { content: "\e65f"; }
	&[class*="database-lock"]:before { content: "\e660"; }
	&[class*="database-refresh"]:before { content: "\e661"; }
	&[class*="database-ok"]:before { content: "\e662"; }
	&[class*="database-time"]:before { content: "\e663"; }
	&[class*="database-up"]:before { content: "\e664"; }
	&[class*="database-down"]:before { content: "\e665"; }
	&[class*="server"]:before { content: "\e666"; }
	&[class*="shield-security"]:before { content: "\e667"; }
	&[class*="shield-security-ok"]:before { content: "\e668"; }
	&[class*="shield-security-warn"]:before { content: "\e669"; }
	&[class*="shield-security-none"]:before { content: "\e66a"; }
	&[class*="padlock-closed"]:before { content: "\e66b"; }
	&[class*="padlock-refresh"]:before { content: "\e66c"; }
	&[class*="padlock-open"]:before { content: "\e66d"; }
	&[class*="key"]:before { content: "\e66e"; }
	&[class*="key-hole"]:before { content: "\e66f"; }
	&[class*="toggle-left"]:before { content: "\e670"; }
	&[class*="toggle-right"]:before { content: "\e671"; }
	&[class*="gear-many"]:before { content: "\e672"; }
	&[class*="gear-few"]:before { content: "\e673"; }
	&[class*="wrench"]:before { content: "\e674"; }
	&[class*="screwdriver"]:before { content: "\e675"; }
	&[class*="hammer-wrench"]:before { content: "\e676"; }
	&[class*="hammer"]:before { content: "\e677"; }
	&[class*="saw"]:before { content: "\e678"; }
	&[class*="axe"]:before { content: "\e679"; }
	&[class*="axe-battle"]:before { content: "\e67a"; }
	&[class*="shovel"]:before { content: "\e67b"; }
	&[class*="pickaxe"]:before { content: "\e67c"; }
	&[class*="factory"]:before { content: "\e67d"; }
	&[class*="factory-line"]:before { content: "\e67e"; }
	&[class*="recycle"]:before { content: "\e67f"; }
	&[class*="bin-empty"]:before { content: "\e680"; }
	&[class*="bin-2d"]:before { content: "\e681"; }
	&[class*="bin-3d"]:before { content: "\e682"; }
	&[class*="broom"]:before { content: "\e683"; }
	&[class*="packman"]:before { content: "\e684"; }
	&[class*="gamepad"]:before { content: "\e685"; }
	&[class*="joystick"]:before { content: "\e686"; }
	&[class*="die"]:before { content: "\e687"; }
	&[class*="spades"]:before { content: "\e688"; }
	&[class*="diamonds"]:before { content: "\e689"; }
	&[class*="clubs"]:before { content: "\e68a"; }
	&[class*="hearts"]:before { content: "\e68b"; }
	&[class*="heart"]:before { content: "\e68c"; }
	&[class*="star"]:before { content: "\e68d"; }
	&[class*="star-dotted-half"]:before { content: "\e68e"; }
	&[class*="star-dotted"]:before { content: "\e68f"; }
	&[class*="flag-planted"]:before { content: "\e690"; }
	&[class*="flag"]:before { content: "\e691"; }
	&[class*="flag-point"]:before { content: "\e692"; }
	&[class*="mailbox-up"]:before { content: "\e693"; }
	&[class*="mailbox-down"]:before { content: "\e694"; }
	&[class*="at-round"]:before { content: "\e695"; }
	&[class*="envelope-closed"]:before { content: "\e696"; }
	&[class*="envelope-open"]:before { content: "\e697"; }
	&[class*="paperclip"]:before { content: "\e698"; }
	&[class*="paper-plane"]:before { content: "\e699"; }
	&[class*="arrow-revert"]:before { content: "\e69a"; }
	&[class*="arrow-revert-all"]:before { content: "\e69b"; }
	&[class*="file-tray"]:before { content: "\e69c"; }
	&[class*="file-tray-down"]:before { content: "\e69d"; }
	&[class*="file-tray-up"]:before { content: "\e69e"; }
	&[class*="file-box"]:before { content: "\e69f"; }
	&[class*="file-storage"]:before { content: "\e6a0"; }
	&[class*="file-storage-file"]:before { content: "\e6a1"; }
	&[class*="cabinet-single"]:before { content: "\e6a2"; }
	&[class*="cabinet-double"]:before { content: "\e6a3"; }
	&[class*="nightstand"]:before { content: "\e6a4"; }
	&[class*="eye"]:before { content: "\e6a5"; }
	&[class*="eye-none"]:before { content: "\e6a6"; }
	&[class*="eye-plus"]:before { content: "\e6a7"; }
	&[class*="eye-minus"]:before { content: "\e6a8"; }
	&[class*="binoculars-detail"]:before { content: "\e6a9"; }
	&[class*="binoculars"]:before { content: "\e6aa"; }
	&[class*="disk"]:before { content: "\e6ab"; }
	&[class*="disk-down"]:before { content: "\e6ac"; }
	&[class*="disk-up"]:before { content: "\e6ad"; }
	&[class*="floppy"]:before { content: "\e6ae"; }
	&[class*="cd"]:before { content: "\e6af"; }
	&[class*="cassette"]:before { content: "\e6b0"; }
	&[class*="printer"]:before { content: "\e6b1"; }
	&[class*="shredder"]:before { content: "\e6b2"; }
	&[class*="file-empty"]:before { content: "\e6b3"; }
	&[class*="file-add"]:before { content: "\e6b4"; }
	&[class*="file-ok"]:before { content: "\e6b5"; }
	&[class*="file-locked"]:before { content: "\e6b6"; }
	&[class*="files"]:before { content: "\e6b7"; }
	&[class*="file-copy"]:before { content: "\e6b8"; }
	&[class*="file-move"]:before { content: "\e6b9"; }
	&[class*="folder"]:before { content: "\e6ba"; }
	&[class*="folder-search"]:before { content: "\e6bb"; }
	&[class*="folder-add"]:before { content: "\e6bc"; }
	&[class*="folder-remove"]:before { content: "\e6bd"; }
	&[class*="folder-down"]:before { content: "\e6be"; }
	&[class*="folder-up"]:before { content: "\e6bf"; }
	&[class*="folder-star"]:before { content: "\e6c0"; }
	&[class*="folder-heart"]:before { content: "\e6c1"; }
	&[class*="folder-person"]:before { content: "\e6c2"; }
	&[class*="folder-other"]:before { content: "\e6c3"; }
	&[class*="folder-music"]:before { content: "\e6c4"; }
	&[class*="folder-image"]:before { content: "\e6c5"; }
	&[class*="folder-movie"]:before { content: "\e6c6"; }
	&[class*="scissors"]:before { content: "\e6c7"; }
	&[class*="clip-file"]:before { content: "\e6c8"; }
	&[class*="clip"]:before { content: "\e6c9"; }
	&[class*="clip-edit"]:before { content: "\e6ca"; }
	&[class*="clip-text"]:before { content: "\e6cb"; }
	&[class*="clip-ok"]:before { content: "\e6cc"; }
	&[class*="clip-down"]:before { content: "\e6cd"; }
	&[class*="clip-left"]:before { content: "\e6ce"; }
	&[class*="clip-exclamation"]:before { content: "\e6cf"; }
	&[class*="clip-person"]:before { content: "\e6d0"; }
	&[class*="file-write"]:before { content: "\e6d1"; }
	&[class*="door-in"]:before { content: "\e6d2"; }
	&[class*="door-out"]:before { content: "\e6d3"; }
	&[class*="papers"]:before { content: "\e6d4"; }
	&[class*="newspaper"]:before { content: "\e6d5"; }
	&[class*="paper-read"]:before { content: "\e6d6"; }
	&[class*="typewriter"]:before { content: "\e6d7"; }
	&[class*="paper-text"]:before { content: "\e6d8"; }
	&[class*="paper-image"]:before { content: "\e6d9"; }
	&[class*="graduation-hat"]:before { content: "\e6da"; }
	&[class*="graduation-paper"]:before { content: "\e6db"; }
	&[class*="graduation-certificate"]:before { content: "\e6dc"; }
	&[class*="price"]:before { content: "\e6dd"; }
	&[class*="price-first"]:before { content: "\e6de"; }
	&[class*="price-second"]:before { content: "\e6df"; }
	&[class*="price-third"]:before { content: "\e6e0"; }
	&[class*="price-stage"]:before { content: "\e6e1"; }
	&[class*="price-cup-3d"]:before { content: "\e6e2"; }
	&[class*="price-cup"]:before { content: "\e6e3"; }
	&[class*="music-note-single"]:before { content: "\e6e4"; }
	&[class*="music-note-double"]:before { content: "\e6e5"; }
	&[class*="music-note-double-2"]:before { content: "\e6e6"; }
	&[class*="music-list"]:before { content: "\e6e7"; }
	&[class*="music-list-add"]:before { content: "\e6e8"; }
	&[class*="guitar"]:before { content: "\e6e9"; }
	&[class*="trumpet"]:before { content: "\e6ea"; }
	&[class*="music-library"]:before { content: "\e6eb"; }
	&[class*="music-shuffle"]:before { content: "\e6ec"; }
	&[class*="repeat-1"]:before { content: "\e6ed"; }
	&[class*="repeat"]:before { content: "\e6ee"; }
	&[class*="headphones"]:before { content: "\e6ef"; }
	&[class*="headset"]:before { content: "\e6f0"; }
	&[class*="speaker"]:before { content: "\e6f1"; }
	&[class*="levels"]:before { content: "\e6f2"; }
	&[class*="masks"]:before { content: "\e6f3"; }
	&[class*="glasses-3d"]:before { content: "\e6f4"; }
	&[class*="ticket"]:before { content: "\e6f5"; }
	&[class*="video-display"]:before { content: "\e6f6"; }
	&[class*="square-video-play"]:before { content: "\e6f7"; }
	&[class*="video-roll-play"]:before { content: "\e6f8"; }
	&[class*="video-block-play"]:before { content: "\e6f9"; }
	&[class*="media"]:before { content: "\e6fa"; }
	&[class*="video-roll"]:before { content: "\e6fb"; }
	&[class*="image-roll"]:before { content: "\e6fc"; }
	&[class*="camera-security"]:before { content: "\e6fd"; }
	&[class*="camera-security-ball"]:before { content: "\e6fe"; }
	&[class*="video"]:before { content: "\e6ff"; }
	&[class*="video-none"]:before { content: "\e700"; }
	&[class*="video-play"]:before { content: "\e701"; }
	&[class*="video-time"]:before { content: "\e702"; }
	&[class*="record"]:before { content: "\e703"; }
	&[class*="camera"]:before { content: "\e704"; }
	&[class*="camera-flip"]:before { content: "\e705"; }
	&[class*="panorama"]:before { content: "\e706"; }
	&[class*="camera-timer"]:before { content: "\e707"; }
	&[class*="aperture"]:before { content: "\e708"; }
	&[class*="aperture-2"]:before { content: "\e709"; }
	&[class*="face-recognition"]:before { content: "\e70a"; }
	&[class*="blink"]:before { content: "\e70b"; }
	&[class*="square-rounded"]:before { content: "\e70c"; }
	&[class*="square-pointed"]:before { content: "\e70d"; }
	&[class*="image"]:before { content: "\e70e"; }
	&[class*="image-inline"]:before { content: "\e70f"; }
	&[class*="image-description"]:before { content: "\e710"; }
	&[class*="image-list"]:before { content: "\e711"; }
	&[class*="book"]:before { content: "\e712"; }
	&[class*="audio-book"]:before { content: "\e713"; }
	&[class*="book-closed"]:before { content: "\e714"; }
	&[class*="book-closed-marked"]:before { content: "\e715"; }
	&[class*="book-marker"]:before { content: "\e716"; }
	&[class*="tag"]:before { content: "\e717"; }
	&[class*="bookshelf"]:before { content: "\e718"; }
	&[class*="library"]:before { content: "\e719"; }
	&[class*="contact-list"]:before { content: "\e71a"; }
	&[class*="contact"]:before { content: "\e71b"; }
	&[class*="contact-inline"]:before { content: "\e71c"; }
	&[class*="contact-description"]:before { content: "\e71d"; }
	&[class*="person"]:before { content: "\e71e"; }
	&[class*="person-add"]:before { content: "\e71f"; }
	&[class*="person-remove"]:before { content: "\e720"; }
	&[class*="person-locked"]:before { content: "\e721"; }
	&[class*="persons"]:before { content: "\e722"; }
	&[class*="person-2"]:before { content: "\e723"; }
	&[class*="person-2-add"]:before { content: "\e724"; }
	&[class*="person-2-remove"]:before { content: "\e725"; }
	&[class*="people-link"]:before { content: "\e726"; }
	&[class*="person-female"]:before { content: "\e727"; }
	&[class*="person-male"]:before { content: "\e728"; }
	&[class*="baby-girl"]:before { content: "\e729"; }
	&[class*="baby-boy"]:before { content: "\e72a"; }
	&[class*="baby"]:before { content: "\e72b"; }
	&[class*="baby-bottle"]:before { content: "\e72c"; }
	&[class*="stickman-walk"]:before { content: "\e72d"; }
	&[class*="stickman-wave"]:before { content: "\e72e"; }
	&[class*="stickman-jump"]:before { content: "\e72f"; }
	&[class*="stickman-run"]:before { content: "\e730"; }
	&[class*="female"]:before { content: "\e731"; }
	&[class*="male"]:before { content: "\e732"; }
	&[class*="male-female"]:before { content: "\e733"; }
	&[class*="person-length"]:before { content: "\e734"; }
	&[class*="weighing-scale"]:before { content: "\e735"; }
	&[class*="weighing-scale-hanging"]:before { content: "\e736"; }
	&[class*="clothes-button"]:before { content: "\e737"; }
	&[class*="bow-tie"]:before { content: "\e738"; }
	&[class*="tie"]:before { content: "\e739"; }
	&[class*="sock"]:before { content: "\e73a"; }
	&[class*="shoe"]:before { content: "\e73b"; }
	&[class*="shoes"]:before { content: "\e73c"; }
	&[class*="top-hat"]:before { content: "\e73d"; }
	&[class*="trousers"]:before { content: "\e73e"; }
	&[class*="shorts"]:before { content: "\e73f"; }
	&[class*="flip-flops"]:before { content: "\e740"; }
	&[class*="t-shirt"]:before { content: "\e741"; }
	&[class*="clothes-hanger"]:before { content: "\e742"; }
	&[class*="washer"]:before { content: "\e743"; }
	&[class*="store"]:before { content: "\e744"; }
	&[class*="hairdresser"]:before { content: "\e745"; }
	&[class*="store-24"]:before { content: "\e746"; }
	&[class*="barcode"]:before { content: "\e747"; }
	&[class*="barcode-split"]:before { content: "\e748"; }
	&[class*="barcode-named"]:before { content: "\e749"; }
	&[class*="cash-register"]:before { content: "\e74a"; }
	&[class*="shopping-bag"]:before { content: "\e74b"; }
	&[class*="shopping-bag-2d"]:before { content: "\e74c"; }
	&[class*="shopping-cart"]:before { content: "\e74d"; }
	&[class*="shopping-cart-empty"]:before { content: "\e74e"; }
	&[class*="shopping-cart-full"]:before { content: "\e74f"; }
	&[class*="shopping-cart-add"]:before { content: "\e750"; }
	&[class*="shopping-cart-full-add"]:before { content: "\e751"; }
	&[class*="shopping-cart-push"]:before { content: "\e752"; }
	&[class*="shopping-cart-pop"]:before { content: "\e753"; }
	&[class*="shopping-cart-push-pop"]:before { content: "\e754"; }
	&[class*="price-tag"]:before { content: "\e755"; }
	&[class*="price-tags"]:before { content: "\e756"; }
	&[class*="receipt"]:before { content: "\e757"; }
	&[class*="wallet"]:before { content: "\e758"; }
	&[class*="credit-card"]:before { content: "\e759"; }
	&[class*="bills-dollar"]:before { content: "\e75a"; }
	&[class*="bills-euro"]:before { content: "\e75b"; }
	&[class*="bills-pound"]:before { content: "\e75c"; }
	&[class*="bills-yen"]:before { content: "\e75d"; }
	&[class*="money-bag-dollar"]:before { content: "\e75e"; }
	&[class*="money-bag-euro"]:before { content: "\e75f"; }
	&[class*="money-bag-pound"]:before { content: "\e760"; }
	&[class*="money-bag-yen"]:before { content: "\e761"; }
	&[class*="coin-dollar"]:before { content: "\e762"; }
	&[class*="coin-euro"]:before { content: "\e763"; }
	&[class*="coin-pound"]:before { content: "\e764"; }
	&[class*="coin-yen"]:before { content: "\e765"; }
	&[class*="calculate"]:before { content: "\e766"; }
	&[class*="calculator"]:before { content: "\e767"; }
	&[class*="abacus"]:before { content: "\e768"; }
	&[class*="vault"]:before { content: "\e769"; }
	&[class*="phone-horn"]:before { content: "\e76a"; }
	&[class*="phone-horn-locked"]:before { content: "\e76b"; }
	&[class*="phone-horn-wireless"]:before { content: "\e76c"; }
	&[class*="phone-horn-pause"]:before { content: "\e76d"; }
	&[class*="phone-horn-up"]:before { content: "\e76e"; }
	&[class*="phone-horn-down"]:before { content: "\e76f"; }
	&[class*="phone-horn-exchange"]:before { content: "\e770"; }
	&[class*="phone-horn-none"]:before { content: "\e771"; }
	&[class*="phone-horn-sip"]:before { content: "\e772"; }
	&[class*="phone-horn-add"]:before { content: "\e773"; }
	&[class*="phone-horn-minus"]:before { content: "\e774"; }
	&[class*="phone-recorder"]:before { content: "\e775"; }
	&[class*="dialer"]:before { content: "\e776"; }
	&[class*="telephone"]:before { content: "\e777"; }
	&[class*="pin"]:before { content: "\e778"; }
	&[class*="map-pin"]:before { content: "\e779"; }
	&[class*="map-point"]:before { content: "\e77a"; }
	&[class*="map-point-person"]:before { content: "\e77b"; }
	&[class*="map-point-drop"]:before { content: "\e77c"; }
	&[class*="map-point-ok"]:before { content: "\e77d"; }
	&[class*="map-point-none"]:before { content: "\e77e"; }
	&[class*="radar"]:before { content: "\e77f"; }
	&[class*="compass"]:before { content: "\e780"; }
	&[class*="maps"]:before { content: "\e781"; }
	&[class*="map-paper"]:before { content: "\e782"; }
	&[class*="navigate"]:before { content: "\e783"; }
	&[class*="signs"]:before { content: "\e784"; }
	&[class*="calendar"]:before { content: "\e785"; }
	&[class*="calendar-ok"]:before { content: "\e786"; }
	&[class*="calendar-error"]:before { content: "\e787"; }
	&[class*="calendar-date"]:before { content: "\e788"; }
	&[class*="calendar-month"]:before { content: "\e789"; }
	&[class*="calendar-month-date"]:before { content: "\e78a"; }
	&[class*="calendar-description"]:before { content: "\e78b"; }
	&[class*="calendar-person"]:before { content: "\e78c"; }
	&[class*="mouse"]:before { content: "\e78d"; }
	&[class*="mouse-l-click"]:before { content: "\e78e"; }
	&[class*="mouse-r-click"]:before { content: "\e78f"; }
	&[class*="mouse-l-r-click"]:before { content: "\e790"; }
	&[class*="keyboard"]:before { content: "\e791"; }
	&[class*="keyboard-up"]:before { content: "\e792"; }
	&[class*="keyboard-down"]:before { content: "\e793"; }
	&[class*="tag delete"]:before { content: "\e794"; }
	&[class*="spell-check"]:before { content: "\e795"; }
	&[class*="circle-out"]:before { content: "\e796"; }
	&[class*="circle-in"]:before { content: "\e797"; }
	&[class*="monitor"]:before { content: "\e798"; }
	&[class*="monitor-4x3"]:before { content: "\e799"; }
	&[class*="signal-5"]:before { content: "\e79a"; }
	&[class*="signal-locked"]:before { content: "\e79b"; }
	&[class*="signal-4"]:before { content: "\e79c"; }
	&[class*="signal-3"]:before { content: "\e79d"; }
	&[class*="signal-2"]:before { content: "\e79e"; }
	&[class*="signal-1"]:before { content: "\e79f"; }
	&[class*="signal-0"]:before { content: "\e7a0"; }
	&[class*="signal-none"]:before { content: "\e7a1"; }
	&[class*="sim-card"]:before { content: "\e7a2"; }
	&[class*="sd-card"]:before { content: "\e7a3"; }
	&[class*="usb-stick"]:before { content: "\e7a4"; }
	&[class*="phone"]:before { content: "\e7a5"; }
	&[class*="phone-screen"]:before { content: "\e7a6"; }
	&[class*="phone-info"]:before { content: "\e7a7"; }
	&[class*="phone-vibrate"]:before { content: "\e7a8"; }
	&[class*="phone-code"]:before { content: "\e7a9"; }
	&[class*="phone-wireless"]:before { content: "\e7aa"; }
	&[class*="tablet"]:before { content: "\e7ab"; }
	&[class*="tablet-screen"]:before { content: "\e7ac"; }
	&[class*="laptop"]:before { content: "\e7ad"; }
	&[class*="laptop-phone"]:before { content: "\e7ae"; }
	&[class*="pc"]:before { content: "\e7af"; }
	&[class*="square-arrow-out-top-right"]:before { content: "\e7b0"; }
	&[class*="window-tab"]:before { content: "\e7b1"; }
	&[class*="window"]:before { content: "\e7b2"; }
	&[class*="hdmi"]:before { content: "\e7b3"; }
	&[class*="plugs-analog"]:before { content: "\e7b4"; }
	&[class*="television"]:before { content: "\e7b5"; }
	&[class*="radio"]:before { content: "\e7b6"; }
	&[class*="remote"]:before { content: "\e7b7"; }
	&[class*="on-off"]:before { content: "\e7b8"; }
	&[class*="flash"]:before { content: "\e7b9"; }
	&[class*="flash-off"]:before { content: "\e7ba"; }
	&[class*="flash-auto"]:before { content: "\e7bb"; }
	&[class*="light-bulb"]:before { content: "\e7bc"; }
	&[class*="flashlight"]:before { content: "\e7bd"; }
	&[class*="lamp"]:before { content: "\e7be"; }
	&[class*="power-plug"]:before { content: "\e7bf"; }
	&[class*="power-socket"]:before { content: "\e7c0"; }
	&[class*="battery-plug"]:before { content: "\e7c1"; }
	&[class*="battery-0"]:before { content: "\e7c2"; }
	&[class*="battery-warning"]:before { content: "\e7c3"; }
	&[class*="battery-none"]:before { content: "\e7c4"; }
	&[class*="battery-1"]:before { content: "\e7c5"; }
	&[class*="battery-2"]:before { content: "\e7c6"; }
	&[class*="battery-3"]:before { content: "\e7c7"; }
	&[class*="battery-4"]:before { content: "\e7c8"; }
	&[class*="battery-5"]:before { content: "\e7c9"; }
	&[class*="battery-6"]:before { content: "\e7ca"; }
	&[class*="battery-7"]:before { content: "\e7cb"; }
	&[class*="battery-charge-0"]:before { content: "\e7cc"; }
	&[class*="battery-charge-1"]:before { content: "\e7cd"; }
	&[class*="battery-charge-2"]:before { content: "\e7ce"; }
	&[class*="battery-charge-3"]:before { content: "\e7cf"; }
	&[class*="battery-charge-5"]:before { content: "\e7d0"; }
	&[class*="battery-charge-6"]:before { content: "\e7d1"; }
	&[class*="battery-charge-7"]:before { content: "\e7d2"; }
	&[class*="processor"]:before { content: "\e7d3"; }
	&[class*="processor-x64"]:before { content: "\e7d4"; }
	&[class*="processor-x86"]:before { content: "\e7d5"; }
	&[class*="chat-bubble"]:before { content: "\e7d6"; }
	&[class*="chat-bubbles"]:before { content: "\e7d7"; }
	&[class*="chat-dots"]:before { content: "\e7d8"; }
	&[class*="chat-exclamation"]:before { content: "\e7d9"; }
	&[class*="chat-question"]:before { content: "\e7da"; }
	&[class*="chat-file"]:before { content: "\e7db"; }
	&[class*="chat-write"]:before { content: "\e7dc"; }
	&[class*="chat-image"]:before { content: "\e7dd"; }
	&[class*="chat-video"]:before { content: "\e7de"; }
	&[class*="chat-person"]:before { content: "\e7df"; }
	&[class*="chat-66"]:before { content: "\e7e0"; }
	&[class*="chat-heart"]:before { content: "\e7e1"; }
	&[class*="chat-emoticon"]:before { content: "\e7e2"; }
	&[class*="chat-attachment"]:before { content: "\e7e3"; }
	&[class*="call-chat"]:before { content: "\e7e4"; }
	&[class*="66"]:before { content: "\e7e5"; }
	&[class*="99"]:before { content: "\e7e6"; }
	&[class*="dna"]:before { content: "\e7e7"; }
	&[class*="heartbeat"]:before { content: "\e7e8"; }
	&[class*="heartbeat-line"]:before { content: "\e7e9"; }
	&[class*="shot"]:before { content: "\e7ea"; }
	&[class*="pills"]:before { content: "\e7eb"; }
	&[class*="medic-box"]:before { content: "\e7ec"; }
	&[class*="lifebelt"]:before { content: "\e7ed"; }
	&[class*="bandage"]:before { content: "\e7ee"; }
	&[class*="bandages"]:before { content: "\e7ef"; }
	&[class*="temperature"]:before { content: "\e7f0"; }
	&[class*="microscope"]:before { content: "\e7f1"; }
	&[class*="brain"]:before { content: "\e7f2"; }
	&[class*="chemical"]:before { content: "\e7f3"; }
	&[class*="skull"]:before { content: "\e7f4"; }
	&[class*="bone"]:before { content: "\e7f5"; }
	&[class*="traffic-sign"]:before { content: "\e7f6"; }
	&[class*="traffic-cone"]:before { content: "\e7f7"; }
	&[class*="chart-pie"]:before { content: "\e7f8"; }
	&[class*="chart-pie-slice"]:before { content: "\e7f9"; }
	&[class*="chart-point"]:before { content: "\e7fa"; }
	&[class*="chart-bar-trend"]:before { content: "\e7fb"; }
	&[class*="chart-bar"]:before { content: "\e7fc"; }
	&[class*="chart-edit"]:before { content: "\e7fd"; }
	&[class*="cake"]:before { content: "\e7fe"; }
	&[class*="present"]:before { content: "\e7ff"; }
	&[class*="baloon"]:before { content: "\e800"; }
	&[class*="rank-1"]:before { content: "\e801"; }
	&[class*="rank-2"]:before { content: "\e802"; }
	&[class*="rank-3"]:before { content: "\e803"; }
	&[class*="rolex"]:before { content: "\e804"; }
	&[class*="flower"]:before { content: "\e805"; }
	&[class*="diamond-outline"]:before { content: "\e806"; }
	&[class*="diamond-2d"]:before { content: "\e807"; }
	&[class*="diamond-3d"]:before { content: "\e808"; }
	&[class*="diamond-outline-shine"]:before { content: "\e809"; }
	&[class*="linear-icon"]:before { content: "\e80a"; }
	&[class*="coffee-cup"]:before { content: "\e80b"; }
	&[class*="kettle"]:before { content: "\e80c"; }
	&[class*="wine-glass"]:before { content: "\e80d"; }
	&[class*="wine-bottle"]:before { content: "\e80e"; }
	&[class*="martini-glass"]:before { content: "\e80f"; }
	&[class*="soda-glass"]:before { content: "\e810"; }
	&[class*="cutlery-knife-fork"]:before { content: "\e811"; }
	&[class*="cutlery-spoon-fork"]:before { content: "\e812"; }
	&[class*="chef-hat"]:before { content: "\e813"; }
	&[class*="cooking-scale"]:before { content: "\e814"; }
	&[class*="egg"]:before { content: "\e815"; }
	&[class*="egg-cooked"]:before { content: "\e816"; }
	&[class*="eggs-cooked"]:before { content: "\e817"; }
	&[class*="serving-dish"]:before { content: "\e818"; }
	&[class*="steak"]:before { content: "\e819"; }
	&[class*="burger"]:before { content: "\e81a"; }
	&[class*="hotdog"]:before { content: "\e81b"; }
	&[class*="pizza"]:before { content: "\e81c"; }
	&[class*="sausage"]:before { content: "\e81d"; }
	&[class*="drumstick"]:before { content: "\e81e"; }
	&[class*="fish"]:before { content: "\e81f"; }
	&[class*="carrot"]:before { content: "\e820"; }
	&[class*="cheese"]:before { content: "\e821"; }
	&[class*="bread"]:before { content: "\e822"; }
	&[class*="icecream-cone"]:before { content: "\e823"; }
	&[class*="icecream-cup"]:before { content: "\e824"; }
	&[class*="sweet"]:before { content: "\e825"; }
	&[class*="lollypop"]:before { content: "\e826"; }
	&[class*="coffee-bean"]:before { content: "\e827"; }
	&[class*="coffee"]:before { content: "\e828"; }
	&[class*="cherry"]:before { content: "\e829"; }
	&[class*="grapes"]:before { content: "\e82a"; }
	&[class*="orange"]:before { content: "\e82b"; }
	&[class*="apple"]:before { content: "\e82c"; }
	&[class*="leaf"]:before { content: "\e82d"; }
	&[class*="landscape"]:before { content: "\e82e"; }
	&[class*="pinetree"]:before { content: "\e82f"; }
	&[class*="tree"]:before { content: "\e830"; }
	&[class*="cactus"]:before { content: "\e831"; }
	&[class*="paw"]:before { content: "\e832"; }
	&[class*="footprint"]:before { content: "\e833"; }
	&[class*="speed-low"]:before { content: "\e834"; }
	&[class*="speed-medium"]:before { content: "\e835"; }
	&[class*="speed-high"]:before { content: "\e836"; }
	&[class*="rocket"]:before { content: "\e837"; }
	&[class*="hammer-judge"]:before { content: "\e838"; }
	&[class*="scale-balance"]:before { content: "\e839"; }
	&[class*="briefcase"]:before { content: "\e83a"; }
	&[class*="luggage-scale"]:before { content: "\e83b"; }
	&[class*="luggage-trolly"]:before { content: "\e83c"; }
	&[class*="airplane"]:before { content: "\e83d"; }
	&[class*="airplane-off"]:before { content: "\e83e"; }
	&[class*="helicopter"]:before { content: "\e83f"; }
	&[class*="traffic-light"]:before { content: "\e840"; }
	&[class*="siren"]:before { content: "\e841"; }
	&[class*="highway"]:before { content: "\e842"; }
	&[class*="engine"]:before { content: "\e843"; }
	&[class*="oil"]:before { content: "\e844"; }
	&[class*="fluid-temperature"]:before { content: "\e845"; }
	&[class*="battery"]:before { content: "\e846"; }
	&[class*="gas-pump"]:before { content: "\e847"; }
	&[class*="gas-tank"]:before { content: "\e848"; }
	&[class*="transmission"]:before { content: "\e849"; }
	&[class*="car-side"]:before { content: "\e84a"; }
	&[class*="car-side-rain"]:before { content: "\e84b"; }
	&[class*="car-side-smoke"]:before { content: "\e84c"; }
	&[class*="bus-side"]:before { content: "\e84d"; }
	&[class*="bus-front"]:before { content: "\e84e"; }
	&[class*="car"]:before { content: "\e84f"; }
	&[class*="car-park"]:before { content: "\e850"; }
	&[class*="car-locked"]:before { content: "\e851"; }
	&[class*="car-taxi"]:before { content: "\e852"; }
	&[class*="car-siren"]:before { content: "\e853"; }
	&[class*="car-slipery"]:before { content: "\e854"; }
	&[class*="car-smoke"]:before { content: "\e855"; }
	&[class*="ambulance"]:before { content: "\e856"; }
	&[class*="truck"]:before { content: "\e857"; }
	&[class*="truck-empty"]:before { content: "\e858"; }
	&[class*="truck-scale"]:before { content: "\e859"; }
	&[class*="subway"]:before { content: "\e85a"; }
	&[class*="ship"]:before { content: "\e85b"; }
	&[class*="boat"]:before { content: "\e85c"; }
	&[class*="anchor"]:before { content: "\e85d"; }
	&[class*="boat-sail"]:before { content: "\e85e"; }
	&[class*="bicycle"]:before { content: "\e85f"; }
	&[class*="bicycle-race"]:before { content: "\e860"; }
	&[class*="weight"]:before { content: "\e861"; }
	&[class*="bench-press"]:before { content: "\e862"; }
	&[class*="swim"]:before { content: "\e863"; }
	&[class*="rugby"]:before { content: "\e864"; }
	&[class*="baseball-bat"]:before { content: "\e865"; }
	&[class*="baseball-ball"]:before { content: "\e866"; }
	&[class*="tennis"]:before { content: "\e867"; }
	&[class*="tennis-ball"]:before { content: "\e868"; }
	&[class*="table-tennis"]:before { content: "\e869"; }
	&[class*="hockey-puck"]:before { content: "\e86a"; }
	&[class*="pool-ball"]:before { content: "\e86b"; }
	&[class*="bowl-ball"]:before { content: "\e86c"; }
	&[class*="bowl-pins"]:before { content: "\e86d"; }
	&[class*="golf-club"]:before { content: "\e86e"; }
	&[class*="golf-green"]:before { content: "\e86f"; }
	&[class*="target"]:before { content: "\e870"; }
	&[class*="slingshot"]:before { content: "\e871"; }
	&[class*="soccer"]:before { content: "\e872"; }
	&[class*="basketball"]:before { content: "\e873"; }
	&[class*="cube"]:before { content: "\e874"; }
	&[class*="cube-rotate"]:before { content: "\e875"; }
	&[class*="puzzle"]:before { content: "\e876"; }
	&[class*="glasses"]:before { content: "\e877"; }
	&[class*="glasses-round"]:before { content: "\e878"; }
	&[class*="circle-stickfigure"]:before { content: "\e879"; }
	&[class*="wheelchair"]:before { content: "\e87a"; }
	&[class*="wall"]:before { content: "\e87b"; }
	&[class*="fence"]:before { content: "\e87c"; }
	&[class*="wall-brick"]:before { content: "\e87d"; }
	&[class*="dots-9"]:before { content: "\e87e"; }
	&[class*="dots-6"]:before { content: "\e87f"; }
	&[class*="dots-square"]:before { content: "\e880"; }
	&[class*="dots-square-pointer"]:before { content: "\e881"; }
	&[class*="square-pointer"]:before { content: "\e882"; }
	&[class*="tree-search"]:before { content: "\e883"; }
	&[class*="earth"]:before { content: "\e884"; }
	&[class*="earth-locked"]:before { content: "\e885"; }
	&[class*="www"]:before { content: "\e886"; }
	&[class*="www-locked"]:before { content: "\e887"; }
	&[class*="planet"]:before { content: "\e888"; }
	&[class*="o-smile-big"]:before { content: "\e889"; }
	&[class*="o-smile"]:before { content: "\e88a"; }
	&[class*="o-smile-teeth"]:before { content: "\e88b"; }
	&[class*="o-toungue"]:before { content: "\e88c"; }
	&[class*="o-sad"]:before { content: "\e88d"; }
	&[class*="o-wink"]:before { content: "\e88e"; }
	&[class*="o-content"]:before { content: "\e88f"; }
	&[class*="o-big-eyes"]:before { content: "\e890"; }
	&[class*="o-scared"]:before { content: "\e891"; }
	&[class*="o-wink-tongue"]:before { content: "\e892"; }
	&[class*="o-stunned"]:before { content: "\e893"; }
	&[class*="o-content-teeth"]:before { content: "\e894"; }
	&[class*="o-smartass"]:before { content: "\e895"; }
	&[class*="o-mad"]:before { content: "\e896"; }
	&[class*="o-evil"]:before { content: "\e897"; }
	&[class*="o-devil"]:before { content: "\e898"; }
	&[class*="o-amazed"]:before { content: "\e899"; }
	&[class*="o-angry"]:before { content: "\e89a"; }
	&[class*="o-doubt"]:before { content: "\e89b"; }
	&[class*="o-conflicted"]:before { content: "\e89c"; }
	&[class*="o-zipped"]:before { content: "\e89d"; }
	&[class*="o-not-impressed"]:before { content: "\e89e"; }
	&[class*="o-moustache"]:before { content: "\e89f"; }
	&[class*="thumbstone-moustache"]:before { content: "\e8a0"; }
	&[class*="thumbstone"]:before { content: "\e8a1"; }
	&[class*="ghost"]:before { content: "\e8a2"; }
	&[class*="ghost-moustache"]:before { content: "\e8a3"; }
	&[class*="pumpkin-carved"]:before { content: "\e8a4"; }
	&[class*="christmas-tree"]:before { content: "\e8a5"; }
	&[class*="easteregg"]:before { content: "\e8a6"; }
	&[class*="moustache"]:before { content: "\e8a7"; }
	&[class*="moustache-glasses"]:before { content: "\e8a8"; }
	&[class*="smoke-pipe"]:before { content: "\e8a9"; }
	&[class*="ringtone"]:before { content: "\e8aa"; }
	&[class*="ringtone-add"]:before { content: "\e8ab"; }
	&[class*="ringtone-snooze"]:before { content: "\e8ac"; }
	&[class*="ringtone-ring"]:before { content: "\e8ad"; }
	&[class*="megaphone"]:before { content: "\e8ae"; }
	&[class*="sound-ear"]:before { content: "\e8af"; }
	&[class*="volume-2"]:before { content: "\e8b0"; }
	&[class*="volume-1"]:before { content: "\e8b1"; }
	&[class*="volume-0"]:before { content: "\e8b2"; }
	&[class*="un-mute"]:before { content: "\e8b3"; }
	&[class*="mute"]:before { content: "\e8b4"; }
	&[class*="network-lan"]:before { content: "\e8b5"; }
	&[class*="network-p2p"]:before { content: "\e8b6"; }
	&[class*="wifi-signal"]:before { content: "\e8b7"; }
	&[class*="wifi-signal-locked"]:before { content: "\e8b8"; }
	&[class*="wifi-signal-blocked"]:before { content: "\e8b9"; }
	&[class*="wifi-signal-2"]:before { content: "\e8ba"; }
	&[class*="wifi-signal-1"]:before { content: "\e8bb"; }
	&[class*="wifi-signal-0"]:before { content: "\e8bc"; }
	&[class*="wifi-signal-warn"]:before { content: "\e8bd"; }
	&[class*="wifi-signal-warn-2"]:before { content: "\e8be"; }
	&[class*="wifi-signal-warn-1"]:before { content: "\e8bf"; }
	&[class*="wifi-signal-warn-0"]:before { content: "\e8c0"; }
	&[class*="screen-signal"]:before { content: "\e8c1"; }
	&[class*="screen-signal-ok"]:before { content: "\e8c2"; }
	&[class*="screen-signal-none"]:before { content: "\e8c3"; }
	&[class*="screen-signal-warn"]:before { content: "\e8c4"; }
	&[class*="signal-conflict"]:before { content: "\e8c5"; }
	&[class*="signal-conflict-none"]:before { content: "\e8c6"; }
	&[class*="signal"]:before { content: "\e8c7"; }
	&[class*="signal-transmitter"]:before { content: "\e8c8"; }
	&[class*="sattelite"]:before { content: "\e8c9"; }
	&[class*="sattelite-dish"]:before { content: "\e8ca"; }
	&[class*="voice-record"]:before { content: "\e8cb"; }
	&[class*="voice-record-stop"]:before { content: "\e8cc"; }
	&[class*="microphone"]:before { content: "\e8cd"; }
	&[class*="spotlights"]:before { content: "\e8ce"; }
	&[class*="hourglass"]:before { content: "\e8cf"; }
	&[class*="dial"]:before { content: "\e8d0"; }
	&[class*="dial-up"]:before { content: "\e8d1"; }
	&[class*="dial-up-repeat"]:before { content: "\e8d2"; }
	&[class*="circle-loop"]:before { content: "\e8d3"; }
	&[class*="circle-loop-simple"]:before { content: "\e8d4"; }
	&[class*="step-back"]:before { content: "\e8d5"; }
	&[class*="step-forward"]:before { content: "\e8d6"; }
	&[class*="step-jump"]:before { content: "\e8d7"; }
	&[class*="rotate-left"]:before { content: "\e8d8"; }
	&[class*="rotate-right"]:before { content: "\e8d9"; }
	&[class*="repeat-round"]:before { content: "\e8da"; }
	&[class*="repeat-round-1"]:before { content: "\e8db"; }
	&[class*="repeat-round-none"]:before { content: "\e8dc"; }
	&[class*="repeat-round-simple"]:before { content: "\e8dd"; }
	&[class*="repeat-round-simple-1"]:before { content: "\e8de"; }
	&[class*="repeat-round-simple-none"]:before { content: "\e8df"; }
	&[class*="circle-back-simple"]:before { content: "\e8e0"; }
	&[class*="circle-back"]:before { content: "\e8e1"; }
	&[class*="percent-back-100"]:before { content: "\e8e2"; }
	&[class*="time-back-simple"]:before { content: "\e8e3"; }
	&[class*="time-back"]:before { content: "\e8e4"; }
	&[class*="time-back-to-0"]:before { content: "\e8e5"; }
	&[class*="alarm-simple"]:before { content: "\e8e6"; }
	&[class*="alarm-simple-time"]:before { content: "\e8e7"; }
	&[class*="clock"]:before { content: "\e8e8"; }
	&[class*="watch"]:before { content: "\e8e9"; }
	&[class*="alarm"]:before { content: "\e8ea"; }
	&[class*="alarm-add"]:before { content: "\e8eb"; }
	&[class*="alarm-remove"]:before { content: "\e8ec"; }
	&[class*="alarm-ok"]:before { content: "\e8ed"; }
	&[class*="alarm-stop"]:before { content: "\e8ee"; }
	&[class*="stopwatch-lines"]:before { content: "\e8ef"; }
	&[class*="stopwatch-lines-stop"]:before { content: "\e8f0"; }
	&[class*="stopwatch"]:before { content: "\e8f1"; }
	&[class*="stopwatch-stop"]:before { content: "\e8f2"; }
	&[class*="button-pressed"]:before { content: "\e8f3"; }
	&[class*="button-unpressed"]:before { content: "\e8f4"; }
	&[class*="tray-down"]:before { content: "\e8f5"; }
	&[class*="tray-up"]:before { content: "\e8f6"; }
	&[class*="move-in-up"]:before { content: "\e8f7"; }
	&[class*="move-in-down"]:before { content: "\e8f8"; }
	&[class*="move-in-left"]:before { content: "\e8f9"; }
	&[class*="move-in-right"]:before { content: "\e8fa"; }
	&[class*="move-out-up"]:before { content: "\e8fb"; }
	&[class*="move-out-down"]:before { content: "\e8fc"; }
	&[class*="move-out-left"]:before { content: "\e8fd"; }
	&[class*="move-out-right"]:before { content: "\e8fe"; }
	&[class*="push-up"]:before { content: "\e8ff"; }
	&[class*="push-down"]:before { content: "\e900"; }
	&[class*="push-together-vertical"]:before { content: "\e901"; }
	&[class*="push-left"]:before { content: "\e902"; }
	&[class*="push-right"]:before { content: "\e903"; }
	&[class*="push-together-horizontal"]:before { content: "\e904"; }
	&[class*="move-up"]:before { content: "\e905"; }
	&[class*="move-down"]:before { content: "\e906"; }
	&[class*="move-left"]:before { content: "\e907"; }
	&[class*="move-right"]:before { content: "\e908"; }
	&[class*="terminal"]:before { content: "\e909"; }
	&[class*="bug"]:before { content: "\e90a"; }
	&[class*="code"]:before { content: "\e90b"; }
	&[class*="file-code"]:before { content: "\e90c"; }
	&[class*="file-image"]:before { content: "\e90d"; }
	&[class*="file-zip"]:before { content: "\e90e"; }
	&[class*="file-audio"]:before { content: "\e90f"; }
	&[class*="file-video"]:before { content: "\e910"; }
	&[class*="file-view"]:before { content: "\e911"; }
	&[class*="file-chart-pie"]:before { content: "\e912"; }
	&[class*="file-chart-bar"]:before { content: "\e913"; }
	&[class*="file-sheet"]:before { content: "\e914"; }
	&[class*="link-round"]:before { content: "\e915"; }
	&[class*="link-round-break"]:before { content: "\e916"; }
	&[class*="link"]:before { content: "\e917"; }
	&[class*="link-break"]:before { content: "\e918"; }
	&[class*="thumbsup-detail"]:before { content: "\e919"; }
	&[class*="thumbsdown-detail"]:before { content: "\e91a"; }
	&[class*="thumbsup"]:before { content: "\e91b"; }
	&[class*="thumbsdown"]:before { content: "\e91c"; }
	&[class*="thumbsup-front"]:before { content: "\e91d"; }
	&[class*="thumbsdown-front"]:before { content: "\e91e"; }
	&[class*="rectangle-arrow-out"]:before { content: "\e91f"; }
	&[class*="tree-binary"]:before { content: "\e920"; }
	&[class*="other"]:before { content: "\e921"; }
	&[class*="search"]:before { content: "\e922"; }
	&[class*="file-search"]:before { content: "\e923"; }
	&[class*="search-refresh"]:before { content: "\e924"; }
	&[class*="zoom-in"]:before { content: "\e925"; }
	&[class*="zoom-out"]:before { content: "\e926"; }
	&[class*="map-button"]:before { content: "\e927"; }
	&[class*="map-button-plus"]:before { content: "\e928"; }
	&[class*="map-button-minus"]:before { content: "\e929"; }
	&[class*="close"]:before { content: "\e92a"; }
	&[class*="list-unnamed"]:before { content: "\e92b"; }
	&[class*="list"]:before { content: "\e92c"; }
	&[class*="list-ordered"]:before { content: "\e92d"; }
	&[class*="list-checked"]:before { content: "\e92e"; }
	&[class*="list-unnamed-highlight"]:before { content: "\e92f"; }
	&[class*="list-highlight"]:before { content: "\e930"; }
	&[class*="dropdown-menu"]:before { content: "\e931"; }
	&[class*="icon-exclamation"]:before { content: "\e932"; }
	&[class*="icon-question"]:before { content: "\e933"; }
	&[class*="icon-check"]:before { content: "\e934"; }
	&[class*="icon-close"]:before { content: "\e935"; }
	&[class*="icon-add"]:before { content: "\e936"; }
	&[class*="icon-minus"]:before { content: "\e937"; }
	&[class*="icon-percent"]:before { content: "\e938"; }
	&[class*="chevron-up"]:before { content: "\e939"; }
	&[class*="chevron-down"]:before { content: "\e93a"; }
	&[class*="chevron-left"]:before { content: "\e93b"; }
	&[class*="chevron-right"]:before { content: "\e93c"; }
	&[class*="chevron-up-down"]:before { content: "\e93d"; }
	&[class*="chevron-left-right"]:before { content: "\e93e"; }
	&[class*="chevron-down-up"]:before { content: "\e93f"; }
	&[class*="chevron-right-left"]:before { content: "\e940"; }
	&[class*="arrow-up"]:before { content: "\e941"; }
	&[class*="arrow-down"]:before { content: "\e942"; }
	&[class*="arrow-left"]:before { content: "\e943"; }
	&[class*="arrow-right"]:before { content: "\e944"; }
	&[class*="arrow-top-right"]:before { content: "\e945"; }
	&[class*="arrow-merge"]:before { content: "\e946"; }
	&[class*="arrow-split"]:before { content: "\e947"; }
	&[class*="arrow-reflect"]:before { content: "\e948"; }
	&[class*="arrow-enter"]:before { content: "\e949"; }
	&[class*="arrows-expand"]:before { content: "\e94a"; }
	&[class*="arrows-compress"]:before { content: "\e94b"; }
	&[class*="arrows-expand-2"]:before { content: "\e94c"; }
	&[class*="arrows-compress-2"]:before { content: "\e94d"; }
	&[class*="arrow-move"]:before { content: "\e94e"; }
	&[class*="arrow-exchange"]:before { content: "\e94f"; }
	&[class*="arrow-slalom"]:before { content: "\e950"; }
	&[class*="rectangle-expand-all"]:before { content: "\e951"; }
	&[class*="rectangle-expand"]:before { content: "\e952"; }
	&[class*="rectangle-compress"]:before { content: "\e953"; }
	&[class*="star-warn"]:before { content: "\e954"; }
	&[class*="warn"]:before { content: "\e955"; }
	&[class*="circle-exclamation"]:before { content: "\e956"; }
	&[class*="circle-question"]:before { content: "\e957"; }
	&[class*="circle-hamburger"]:before { content: "\e958"; }
	&[class*="circle-check"]:before { content: "\e959"; }
	&[class*="circle-close"]:before { content: "\e95a"; }
	&[class*="circle-add"]:before { content: "\e95b"; }
	&[class*="circle-minus"]:before { content: "\e95c"; }
	&[class*="circle-percent"]:before { content: "\e95d"; }
	&[class*="circle-arrow-up"]:before { content: "\e95e"; }
	&[class*="circle-arrow-down"]:before { content: "\e95f"; }
	&[class*="circle-arrow-left"]:before { content: "\e960"; }
	&[class*="circle-arrow-right"]:before { content: "\e961"; }
	&[class*="circle-chevron-up"]:before { content: "\e962"; }
	&[class*="circle-chevron-down"]:before { content: "\e963"; }
	&[class*="circle-chevron-left"]:before { content: "\e964"; }
	&[class*="circle-chevron-right"]:before { content: "\e965"; }
	&[class*="music-first"]:before { content: "\e966"; }
	&[class*="music-rewind"]:before { content: "\e967"; }
	&[class*="music-prev"]:before { content: "\e968"; }
	&[class*="music-stop"]:before { content: "\e969"; }
	&[class*="music-play"]:before { content: "\e96a"; }
	&[class*="music-pause"]:before { content: "\e96b"; }
	&[class*="music-next"]:before { content: "\e96c"; }
	&[class*="music-forward"]:before { content: "\e96d"; }
	&[class*="music-last"]:before { content: "\e96e"; }
	&[class*="music-eject"]:before { content: "\e96f"; }
	&[class*="crop"]:before { content: "\e970"; }
	&[class*="fullscreen"]:before { content: "\e971"; }
	&[class*="fullscreen-exit"]:before { content: "\e972"; }
	&[class*="camera-target"]:before { content: "\e973"; }
	&[class*="picture-resize"]:before { content: "\e974"; }
	&[class*="grid"]:before { content: "\e975"; }
	&[class*="grid-off"]:before { content: "\e976"; }
	&[class*="layers"]:before { content: "\e977"; }
	&[class*="layers-stop"]:before { content: "\e978"; }
	&[class*="fold"]:before { content: "\e979"; }
	&[class*="rulers"]:before { content: "\e97a"; }
	&[class*="ruler"]:before { content: "\e97b"; }
	&[class*="filter"]:before { content: "\e97c"; }
	&[class*="sort-asc"]:before { content: "\e97d"; }
	&[class*="sort-asc-horizontal"]:before { content: "\e97e"; }
	&[class*="sort-switch-vertical"]:before { content: "\e97f"; }
	&[class*="sort-switch"]:before { content: "\e980"; }
	&[class*="angle"]:before { content: "\e981"; }
	&[class*="angle-named"]:before { content: "\e982"; }
	&[class*="cut-exclude"]:before { content: "\e983"; }
	&[class*="cut-merge"]:before { content: "\e984"; }
	&[class*="cut-both"]:before { content: "\e985"; }
	&[class*="cut-neither"]:before { content: "\e986"; }
	&[class*="align-horizontal-center"]:before { content: "\e987"; }
	&[class*="align-horizontal-right"]:before { content: "\e988"; }
	&[class*="align-vertical-bottom"]:before { content: "\e989"; }
	&[class*="align-horizontal-left"]:before { content: "\e98a"; }
	&[class*="align-vertical-center"]:before { content: "\e98b"; }
	&[class*="align-vertical-top"]:before { content: "\e98c"; }
	&[class*="square"]:before { content: "\e98d"; }
	&[class*="square-add"]:before { content: "\e98e"; }
	&[class*="square-minus"]:before { content: "\e98f"; }
	&[class*="square-percent"]:before { content: "\e990"; }
	&[class*="square-arrow-up"]:before { content: "\e991"; }
	&[class*="square-arrow-down"]:before { content: "\e992"; }
	&[class*="square-arrow-left"]:before { content: "\e993"; }
	&[class*="square-arrow-right"]:before { content: "\e994"; }
	&[class*="square-chevron-up"]:before { content: "\e995"; }
	&[class*="square-chevron-down"]:before { content: "\e996"; }
	&[class*="square-chevron-left"]:before { content: "\e997"; }
	&[class*="square-chevron-right"]:before { content: "\e998"; }
	&[class*="square-check"]:before { content: "\e999"; }
	&[class*="square-close"]:before { content: "\e99a"; }
	&[class*="square-hamburger"]:before { content: "\e99b"; }
	&[class*="prohibited"]:before { content: "\e99c"; }
	&[class*="circle"]:before { content: "\e99d"; }
	&[class*="circle-double"]:before { content: "\e99e"; }
	&[class*="font-curly"]:before { content: "\e99f"; }
	&[class*="font-uppercase"]:before { content: "\e9a0"; }
	&[class*="text-subscript"]:before { content: "\e9a1"; }
	&[class*="font-case"]:before { content: "\e9a2"; }
	&[class*="font-bold"]:before { content: "\e9a3"; }
	&[class*="font-italic"]:before { content: "\e9a4"; }
	&[class*="font-underline"]:before { content: "\e9a5"; }
	&[class*="font-linetrough"]:before { content: "\e9a6"; }
	&[class*="text-marker"]:before { content: "\e9a7"; }
	&[class*="text-align-left"]:before { content: "\e9a8"; }
	&[class*="text-align-center"]:before { content: "\e9a9"; }
	&[class*="text-align-right"]:before { content: "\e9aa"; }
	&[class*="text-align-fill"]:before { content: "\e9ab"; }
	&[class*="line-height"]:before { content: "\e9ac"; }
	&[class*="line-indent"]:before { content: "\e9ad"; }
	&[class*="line-outdent"]:before { content: "\e9ae"; }
	&[class*="new-line"]:before { content: "\e9af"; }
	&[class*="text-paragraph"]:before { content: "\e9b0"; }
	&[class*="text-paragraph-indent"]:before { content: "\e9b1"; }
	&[class*="text-paragraph-outdent"]:before { content: "\e9b2"; }
	&[class*="page-break"]:before { content: "\e9b3"; }
	&[class*="page-insert"]:before { content: "\e9b4"; }
	&[class*="sort-alphabet-asc"]:before { content: "\e9b5"; }
	&[class*="sort-alphabet-desc"]:before { content: "\e9b6"; }
	&[class*="sort-numeric-asc"]:before { content: "\e9b7"; }
	&[class*="sort-numeric-desc"]:before { content: "\e9b8"; }
	&[class*="sort-size-asc"]:before { content: "\e9b9"; }
	&[class*="sort-size-desc"]:before { content: "\e9ba"; }
	&[class*="sort-time-asc"]:before { content: "\e9bb"; }
	&[class*="sort-time-desc"]:before { content: "\e9bc"; }
	&[class*="sum"]:before { content: "\e9bd"; }
	&[class*="pencil-write"]:before { content: "\e9be"; }
	&[class*="hand"]:before { content: "\e9bf"; }
	&[class*="hand-point-up"]:before { content: "\e9c0"; }
	&[class*="hand-point-right"]:before { content: "\e9c1"; }
	&[class*="hand-point-down"]:before { content: "\e9c2"; }
	&[class*="hand-point-left"]:before { content: "\e9c3"; }
	&[class*="hand-single-touch"]:before { content: "\e9c4"; }
	&[class*="hand-double-touch"]:before { content: "\e9c5"; }
	&[class*="hand-string"]:before { content: "\e9c6"; }
	&[class*="hand-fingers-crossed"]:before { content: "\e9c7"; }
	&[class*="hand-peace"]:before { content: "\e9c8"; }
	&[class*="hand-pinch-apart"]:before { content: "\e9c9"; }
	&[class*="hand-pinch-together"]:before { content: "\e9ca"; }
	&[class*="hand-move-horizontal"]:before { content: "\e9cb"; }
	&[class*="hand-move-vertical"]:before { content: "\e9cc"; }
	&[class*="hand-move-left"]:before { content: "\e9cd"; }
	&[class*="hand-move-right"]:before { content: "\e9ce"; }
	&[class*="hand-sleeved"]:before { content: "\e9cf"; }
	&[class*="hand-sleeved-point-up"]:before { content: "\e9d0"; }
	&[class*="hand-sleeved-point-right"]:before { content: "\e9d1"; }
	&[class*="hand-sleeved-point-down"]:before { content: "\e9d2"; }
	&[class*="hand-sleeved-point-left"]:before { content: "\e9d3"; }
	&[class*="hand-sleeved-single-touch"]:before { content: "\e9d4"; }
	&[class*="hand-sleeved-double-touch"]:before { content: "\e9d5"; }
	&[class*="hand-sleeved-string"]:before { content: "\e9d6"; }
	&[class*="hand-sleeved-pinch-apart"]:before { content: "\e9d7"; }
	&[class*="hand-sleeved-pinch-together"]:before { content: "\e9d8"; }
	&[class*="hand-sleeved-move-horizontal"]:before { content: "\e9d9"; }
	&[class*="hand-sleeved-move-vertical"]:before { content: "\e9da"; }
	&[class*="hand-sleeved-move-left"]:before { content: "\e9db"; }
	&[class*="hand-sleeved-move-right"]:before { content: "\e9dc"; }
	&[class*="hand-sleeved-other"]:before { content: "\e9dd"; }
	&[class*="border-types"]:before { content: "\e9de"; }
	&[class*="border-all"]:before { content: "\e9df"; }
	&[class*="border-outside"]:before { content: "\e9e0"; }
	&[class*="border-inside"]:before { content: "\e9e1"; }
	&[class*="border-top"]:before { content: "\e9e2"; }
	&[class*="border-middle-h"]:before { content: "\e9e3"; }
	&[class*="border-bottom"]:before { content: "\e9e4"; }
	&[class*="border-left"]:before { content: "\e9e5"; }
	&[class*="border-middle-v"]:before { content: "\e9e6"; }
	&[class*="border-right"]:before { content: "\e9e7"; }
	&[class*="border-none"]:before { content: "\e9e8"; }
	&[class*="dots"]:before { content: "\e9e9"; }
}
